body {
	background: url(фон111.jpg);
	background-size:1300px auto;
	background-attachment: fixed;
}
.header {
	 position:relative;
    width: 1260px;
    height: 75px;
    margin-bottom: 10px;
    background-image: url(фонн.png)
} 
        .footer {
			 background-image: url(фонн.png);
			  position: absolute; 
  bottom: -130;
  width: 1260px;
  height: 75px;
}
.menu-bar {
  border-radius: 15px;
  display: inline-flex;
  background-color: #FFDAB9(0, 0, 0, 0.4);
  padding: 0 10px;
  margin: 10px 0 0 0;
}
.menu-bar li {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.3s;
  border-radius: 25px;
}
.menu-bar li:hover {
  color: black;
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #FFEFD5, #FFB6C1);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1);
}
